g.vertex {
    cursor: pointer;
}
g.vertex > circle {
    stroke: black;
    stroke-width: 4px;
    fill: white;
}

g.vertex > * {
    stroke: black;
}

g.vertex.selected > * {
    stroke: red;
}

g.vertex.highlighted > * {
    stroke: purple;
}


line.edge {
    stroke: black;
    stroke-width: 3px;
}

line.edge.selected {
    stroke: green;
}

line.edge.highlighted {
    stroke: yellow;
}

